body {
    background: #ffffff;
    color: #000000;
    font-family: Georgia, "Times New Roman", serif;
    max-width: 760px;
    margin: 60px auto;
    padding: 0 20px;
    line-height: 1.7;
}

nav {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-weight: normal;
}

main {
    margin-top: 30px;
}


.home-intro {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
}

.home-intro img {
    width: 120px;
    /* controls photo size */
    height: auto;
}

.home-intro p {
    margin-top: 0;
}

/* 

@media (max-width: 600px) {
    body {
        margin: 30px auto;
        font-size: 18px;
    }

    nav a {
        display: inline-block;
        margin-bottom: 8px;
    }
} */

.profile {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.profile img {
    width: 160px;
    height: auto;
    border-radius: 4px;
}

.profile-text {
    flex: 1;
}

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
    }

    .profile img {
        width: 140px;
    }

    @media (max-width: 600px) {
        .home-intro {
            flex-direction: column;
        }

        .home-intro img {
            width: 100px;
        }
    }

}