<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/videos">Videos</a>
        <a href="/publications">Publications</a>
        <a href="/books">Books</a>
        <a href="/podcasts">Podcasts</a>
        <a href="/lectures">Lectures</a>
        <a href="/news">News</a>
        <a href="/interviews">Interviews</a>
    </nav>

    <!-- <main>
        {{ content }}
    </main> -->
    <main>
        {% if page.title == "Home" %}
        <section class="profile">
            {{ content }}
        </section>
        {% else %}
        {{ content }}
        {% endif %}
    </main>

</body>

</html>